@model theMINIclassy.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CustomerId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OrderDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OrderNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OrderNumber" class="form-control" />
                <span asp-validation-for="OrderNumber" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OrderStatus" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OrderStatus" class="form-control" />
                <span asp-validation-for="OrderStatus" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OriginatedFrom" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OriginatedFrom" class="form-control" />
                <span asp-validation-for="OriginatedFrom" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
