@model theMINIclassy.Models.ProductLabelQuantity

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>ProductLabelQuantity</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group" hidden>
            <label asp-for="LabelId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="LabelId" class="form-control" asp-items="ViewBag.LabelId"></select>
                <span asp-validation-for="LabelId" class="text-danger" />
            </div>
        </div>
        <div class="form-group" hidden>
            <label asp-for="ProductId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="ProductId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="QtyLabelOnProduct" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="QtyLabelOnProduct" class="form-control" />
                <span asp-validation-for="QtyLabelOnProduct" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Product.Id">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
