<h3>INVENTORIES</h3>
<table border="0" width="75%" cellpadding="4" cellspacing="3">

    <tr>
        <td><a asp-area="" asp-controller="Products" asp-action="Index">Product</a></td>
        <td>
            <a asp-controller="Products" asp-action="Index">View/Change |</a>
        </td>
    </tr>
    <tr>
        <td><a asp-area="" asp-controller="Labels" asp-action="Index">Labels</a></td>
        <td>
            <a asp-controller="Labels" asp-action="Index">View/Change |</a>
        </td>
    </tr>
    <tr>
        <td><a asp-area="" asp-controller="Tags" asp-action="Index">Tags</a></td>
        <td>
            <a asp-controller="Tags" asp-action="Index">View/Change |</a>
        </td>
    </tr>
    <tr>
        <td><a asp-area="" asp-controller="Fabrics" asp-action="Index">Fabrics</a></td>
        <td>
            <a asp-controller="Fabrics" asp-action="Index">View/Change |</a>
        </td>
    </tr>
    <tr>
        <td><a asp-area="" asp-controller="Notions" asp-action="Index">Notions</a></td>
        <td>
            <a asp-controller="Notions" asp-action="Index">View/Change |</a>
        </td>
    </tr>
</table>
<h3>ORDERS</h3>
<table border="0" width="60%" cellpadding="4" cellspacing="3">
    <tr>
        <td><a asp-area="" asp-controller="Orders" asp-action="Index">Order</a></td>
        <td>
            <a asp-controller="Orders" asp-action="Index">View/Change |</a>
        </td>
    </tr>
    <tr>
        <td><a asp-area="" asp-controller="Customers" asp-action="Index">Customers</a></td>
        <td>
            <a asp-controller="Customers" asp-action="Index">View/Change |</a>
        </td>
    </tr>
    <tr>
        <td><a asp-area="" asp-controller="Addresses" asp-action="Index">Addresses</a></td>
        <td>
            <a asp-controller="Addresses" asp-action="Index">View/Change |</a>
        </td>
    </tr>
</table>
<h3>CATEGORIES</h3>
<table border="0" width="50%" cellpadding="4" cellspacing="3">
    <tr>
        <td><a asp-area="" asp-controller="Collaborators" asp-action="Index">Collaborators</a></td>
        <td>
            <a asp-controller="Collaborators" asp-action="Index">View/Change |</a>
        </td>
    </tr>
    <tr>
        <td><a asp-area="" asp-controller="Collections" asp-action="Index">Collections</a></td>
        <td>
            <a asp-controller="Collections" asp-action="Index">View/Change |</a>
        </td>
    </tr>
    <tr>
        <td><a asp-area="" asp-controller="Seasons" asp-action="Index">Seasons</a></td>
        <td>
            <a asp-controller="Seasons" asp-action="Index">View/Change |</a>
        </td>
    </tr>
    <tr>
        <td><a asp-area="" asp-controller="PatternPieces" asp-action="Index">Pattern Pieces</a></td>
        <td>
            <a asp-controller="PatternPieces" asp-action="Index">View/Change |</a>
        </td>
    </tr>
    <tr>
        <td><a asp-area="" asp-controller="Variations" asp-action="Index">Variations</a></td>
        <td>
            <a asp-controller="Variations" asp-action="Index">View/Change |</a>
        </td>
    </tr>
    <tr>
        <td><a asp-area="" asp-controller="Styles" asp-action="Index">Styles</a></td>
        <td>
            <a asp-controller="Styles" asp-action="Index">View/Change |</a>
        </td>
    </tr>
</table>

