@model theMINIclassy.Models.ManageViewModels.ProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*<div class="form-group">
            <label asp-for="FabricsQuantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FabricsQuantity" class="form-control" />
                <span asp-validation-for="FabricsQuantity" class="text-danger" />
            </div>
        </div>*@
        <div class="form-group">
            <label asp-for="Product.CollectionId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Product.CollectionId" class ="form-control" asp-items="ViewBag.CollectionId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.ImagePath" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Product.ImagePath" class="form-control" />
                <span asp-validation-for="Product.ImagePath" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.MinThreshold" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Product.MinThreshold" class="form-control" />
                <span asp-validation-for="Product.MinThreshold" class="text-danger" />
            </div>
        </div>
        <div class="form-group" hidden>
            <label asp-for="Product.Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Product.Quantity" class="form-control" />
                <span asp-validation-for="Product.Quantity" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.SKU" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Product.SKU" class="form-control" />
                <span asp-validation-for="Product.SKU" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.StyleId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Product.StyleId" class ="form-control" asp-items="ViewBag.StyleId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.TechPackPath" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Product.TechPackPath" class="form-control" />
                <span asp-validation-for="Product.TechPackPath" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Product.Title" class="form-control" />
                <span asp-validation-for="Product.Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.VariationId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Product.VariationId" class ="form-control" asp-items="ViewBag.VariationId"></select>
            </div>
        </div>
        @*<div class="form-group">
        PRODUCT-FABRIC-QUANTITY Junction table
        <label asp-for="PFQuantities" class="col-md-2 control-label"></label>*@
            @*<div class="col-md-10">
                <select multiple>
                    @foreach (var item in Model.Fabrics)
                    {
                        <option value="@item.Id">@item.Title</option>

                    }
                </select>
            </div>*@
            @*<div class="col-md-10">
                <script type="text/javascript" src="~/js/custom.js"></script>
                <script>
                    alert("BEFORE render");
                    renderPFQuantityTable(@Model.PFQuantities,@Model.Fabrics);
                </script>
                <div id="PFQuant">NOT ADDED</div>
                <button onclick="addFabric()">Add Fabric</button>
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
