@model theMINIclassy.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="CollectionId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="CollectionId" class="form-control" asp-items="ViewBag.CollectionId"></select>
                <span asp-validation-for="CollectionId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ImagePath" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MinThreshold" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MinThreshold" class="form-control" />
                <span asp-validation-for="MinThreshold" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SKU" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SKU" class="form-control" />
                <span asp-validation-for="SKU" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StyleId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="StyleId" class="form-control" asp-items="ViewBag.StyleId"></select>
                <span asp-validation-for="StyleId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TechPackPath" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TechPackPath" class="form-control" />
                <span asp-validation-for="TechPackPath" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VariationId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="VariationId" class="form-control" asp-items="ViewBag.VariationId"></select>
                <span asp-validation-for="VariationId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
