@model theMINIclassy.Models.LogsViewModel
<br />
<br />
<h2>Logs:</h2>
<br />
<br />
<body onload="startLogPage()">
    <div>
        <ol>
            @foreach (var item in Model.LogFileNames.Keys)
            {
                if (item.Contains("changes"))
                {

                    //var yourJavaScriptArray = @Html.Raw(Json.Serialize(Model.LogFileNames[item]));
                    <div id="logFileName">
                        <li><button onclick="readLogs()">@item</button></li>
                    </div>
                    <div id="showLog">
                        <ul>
                            @foreach (var x in Model.LogFileNames[item])
                            {
                                <li>@x</li>
                            }
                        </ul>
                    </div>
                }
            }

        </ol>
    </div>
</body>
@*<div id="showLog">


</div>*@

@*<script>
    function readLogs(file) {
        alert("readLogs inside log.cshtml page");
        alert(file);
        document.getElementById('logFileName').style.display = 'none';
        document.getElementById('showLog').style.display = '';

    }
</script>*@