@model theMINIclassy.Models.LogsViewModel
<br />
<h2>Logs:</h2>
<br />
<div>

@using (Html.BeginForm())
{
    <p>
        Search: @Html.TextBox("SearchLog")
        <input type="submit" value="Search" />
    </p>
}
</div>
<body onload="startLogPage()">
    <div>
        <ol>
            
                    @foreach (var item in Model.LogFileList)
                    {
                        if (item.Contains("changes"))
                        {


                    <div id="logFileName" class="fileButtons">
                        <li><button onclick="readLogs('@item')">@item</button></li>
                    </div>
                        }
                    }

        </ol>
    </div>
    <div>
        @foreach (var item in Model.LogFileList)
        {
            if (item.Contains("changes"))
            {
            <div id="@item" class="showContent">
                <ul>
                    @foreach (var x in Model.LogFileNames[item])
                    {
                        <li>@x</li>
                    }
                </ul>
            </div>
            }
        }
    </div>








</body>
<script>
    function startLogPage() {
        document.getElementById('logFileName').style.display = '';
        [].forEach.call(document.querySelectorAll('.showContent'), function (el) {
            el.style.visibility = 'hidden';
        });
    }

    function readLogs(show) {
        document.getElementById('logFileName').style.display = 'none';
        document.getElementById(show).style.display = '';
        document.getElementById(show).style.visibility = '';
        document.getElementById(show).style.position = 'absolute';
        document.getElementById(show).style.top = '200px';
        [].forEach.call(document.querySelectorAll('.fileButtons'), function (el) {
            el.style.visibility = 'hidden';
        });
    }
</script>