@model theMINIclassy.Models.LogsViewModel
<br />
<h2>Logs:</h2>
<br />
<body onload="startLogPage()">
    <div>
        <ol>
            @foreach (var item in Model.LogFileNames.Keys)
            {
                if (item.Contains("changes"))
                {
                    
                    <div id="logFileName">
                        <li><button onclick="readLogs()">@item</button></li>
                    </div>
                    <div id="showLog">
                        <ul>
                            @foreach (var x in Model.LogFileNames[item])
                            {
                                <li>@x</li>
                            }
                        </ul>
                    </div>
                }
            }

        </ol>
    </div>
</body>